<!--<div class="container-fluid section full">
 <div class="row full">
      <div class="col-md-7 col-sm-6 left">
        <h2 class="title">
          {{translate('FRONT_VISUALS_AMAZING_APPS_HEADING')}}
        </h2>
        <p data-ng-bind-html="translate('FRONT_VISUALS_AMAZING_APPS_DESCRIPTION')"></p>
      </div>
      <div class="col-md-5 col-sm-6 right">
        <img data-ng-src="{{rootTheme}}/img/home-phone-app.png">
      </div>
    </div>
  </div>-->
  <span id="dailycontents"></span>
  <div class="container" style="padding: 5vh 0 12vh 0;">
    <div class="row" style="margin:0;">
      <div class="col col-md-4" style="text-align:center;">
        <img data-ng-src="https://boxetekitchen.tryordering.com/templates/web/img/custom/becomeadriver.png" width="70%">
        <h3 style="margin: 0; text-align:center;"><strong>Become a Driver</strong></h3>
        <p style="text-align:center;">Work at your own pace, at your own schedule. Learn more about becoming a driver with Boxete.</p>
        <p style="text-align:center;"><a href="#"><strong>Start Earning&nbsp;&nbsp;&nbsp;▶</strong></a></p>
      </div>
      <div class="col col-md-4" style="text-align:center;">
        <img data-ng-src="https://boxetekitchen.tryordering.com/templates/web/img/custom/tryourapp.png" width="70%">
        <h3 style="margin: 0; text-align:center;"><strong>Boxete App</strong></h3>
        <p style=" text-align:center;">Whether you are on-the-go or simply wanting to order ahead of time, use the app to place your order today.</p>
        <p style="text-align:center;"><a href="#"><strong>Coming Soon&nbsp;&nbsp;&nbsp;▶</strong></a></p>
      </div>
      <div class="col col-md-4" style="text-align:center;">
        <img data-ng-src="https://boxetekitchen.tryordering.com/templates/web/img/custom/becameapartner.png" width="70%">
        <h3 style="margin: 0; text-align:center;"><strong>Become a Partner</strong></h3>
        <p style="text-align:center;">Boxete provides you all the tools you need in one solution. Learn more about partnering with us.</p>
        <p style="text-align:center;"><a href="#"><strong>Join Boxete&nbsp;&nbsp;&nbsp;▶</strong></a></p>
      </div>
    </div>
  </div>
  <div style="background-color: #fffbe5; width:100%;">
  <div class="container section" style="padding: 5vh 0 5vh 0;">
    <!--<div class="row full">-->
      <div class="row" style="margin:0;">
        <div class="col col-md-6 ">
          <div class="custom-main">
            <h1 style="font-weight: 800;">Every Flavor Welcome.</h1>
            <p>From your neighborhood K-Food spot to the burger and fries you crave, <br/>choose from local and national favorites across the Atlanta.</p>
          </div>
        </div>
        <div class="col col-md-6" style="text-align: center;">
          <img data-ng-src="https://boxetekitchen.tryordering.com/templates/web/img/custom/v5-background-4.png" width="70%">
        </div>
      </div>
    <!--</div>-->
  </div>
</div>
  <div class="container" style="padding: 5vh 0 5vh 0;">
    <div style="text-align:center;">
      <h2><strong>Our Partners</strong></h2>  
    </div>
    <div class="row" style="margin:0;">
      <div class="col col-md-2 mobilecol" style="text-align:center;">
        <img data-ng-src="https://drive.google.com/uc?id=1R7piZwVv7jU_yNPfwdatYxBCZI4p_z_R" width="100%">
      </div>
      <div class="col col-md-2 mobilecol" style="text-align:center;">
        <img data-ng-src="https://drive.google.com/uc?id=1-pP2SGSvEE2rOoaK9zjMCL0xD8swOmVP" width="100%">
      </div>
      <div class="col col-md-2 mobilecol" style="text-align:center;">
        <img data-ng-src="https://drive.google.com/uc?id=1GY6FMSQDEt9xB00K5HR7NB0xqSGuQYOw" width="100%">
      </div>
      <div class="col col-md-2 mobilecol" style="text-align:center;">
        <img data-ng-src="https://drive.google.com/uc?id=17zZcnb2fh3YlHUjHKqZ_gq0j7o46r1bP" width="100%">
      </div>
      <div class="col col-md-2 mobilecol" style="text-align:center;">
        <img data-ng-src="https://drive.google.com/uc?id=1EY_4RXMSKU80huPQeEIZMcuYFQxaVzFx" width="100%">
      </div>
      <div class="col col-md-2 mobilecol" style="text-align:center;">
        <img data-ng-src="https://drive.google.com/uc?id=11ndMDVmgf3FT4ndDjRlssg8hqCLO9gLw" width="100%">
      </div>
    </div>
    <div class="row" style="margin:0;">
      <div class="col col-md-2 mobilecol" style="text-align:center;">
        
      </div>
      <div class="col col-md-2 mobilecol" style="text-align:center;">
        <img data-ng-src="https://drive.google.com/uc?id=1dNx3hqeJDAU3dbSOuMdDPLJJa6ptdXpI" width="100%">
      </div>
      <div class="col col-md-2 mobilecol" style="text-align:center;">
        <img data-ng-src="https://drive.google.com/uc?id=1Yc6CcWCtif3vQok0J_oK51MJD4acnMIx" width="100%">
      </div>
      <div class="col col-md-2 mobilecol" style="text-align:center;">
        <img data-ng-src="https://drive.google.com/uc?id=15tKMYmYfW3BBekZQ2AZySL_5zYw3lBAz" width="100%">
      </div>
      <div class="col col-md-2 mobilecol" style="text-align:center;">
        <img data-ng-src="https://drive.google.com/uc?id=1V4sQljSsdAO8XZLCnOVDxIimvlci-krU" width="100%">
      </div>
      <div class="col col-md-2 mobilecol" style="text-align:center;">
       
      </div>
      
    </div>
  </div>
  
    <script>
    let day;
    switch (new Date().getDay()) {
      case 0:
        day = "<div class='container section' style='padding: 5vh 0 5vh 0;' ><!--<div class='row full'>--><div class='row' style='margin:0;'><div class='col col-md-7'><a href = 'https://boxetekitchen.tryordering.com/'><img data-ng-src='https://drive.google.com/uc?id=1nrRtnyOTUKN5MWlUnfRRMNuFI_8by6s6' width='100%'></a></div><div class='col col-md-5'><div class='custom-main'><h1 style='font-weight: 800;'>It’s all about Sunday.<br/>All in one app.</h1><p>Discover local, on-demand delivery or Pickup from restaurants, <br/>nearby grocery and convenience stores, and more.</p></div></div></div><!--</div>--></div>";
        break;
      case 1:
        day = "<div class='container section' style='padding: 5vh 0 5vh 0;'><!--<div class='row full'>--><div class='row' style='margin:0;'><div class='col col-md-7'><a href = 'https://boxetekitchen.tryordering.com/'><img data-ng-src='https://drive.google.com/uc?id=1W6X2AAx_jc7Y2nL_GXItKOJ5b6CfYwxt' width='100%'></a></div><div class='col col-md-5'><div class='custom-main'><h1 style='font-weight: 800;'>It’s all about Monday.<br/>All in one app.</h1><p>Discover local, on-demand delivery or Pickup from restaurants, <br/>nearby grocery and convenience stores, and more.</p></div></div></div><!--</div>--></div>";
        break;
      case 2:
        day = "<div class='container section' style='padding: 5vh 0 5vh 0;'><!--<div class='row full'>--><div class='row' style='margin:0;'><div class='col col-md-7'><a href = 'https://boxetekitchen.tryordering.com/'><img data-ng-src='https://drive.google.com/uc?id=1XZX2Kr6PclvcFeof5UiAcvKRoFI5yGU0' width='100%'></a></div><div class='col col-md-5'><div class='custom-main'><h1 style='font-weight: 800;'>It’s all about Tuesday.<br/>All in one app.</h1><p>Discover local, on-demand delivery or Pickup from restaurants, <br/>nearby grocery and convenience stores, and more.</p></div></div></div><!--</div>--></div>";
        break;
      case 3:
        day = "<div class='container section' style='padding: 5vh 0 5vh 0;'><!--<div class='row full'>--><div class='row' style='margin:0;'><div class='col col-md-7'><a href = 'https://boxetekitchen.tryordering.com/'><img data-ng-src='https://drive.google.com/uc?id=1AOBw8QgTU9hPscJ-EwcVsJrO13XlKCC0' width='100%'></a></div><div class='col col-md-5'><div class='custom-main'><h1 style='font-weight: 800;'>It’s all about Wednesday.<br/>All in one app.</h1><p>Discover local, on-demand delivery or Pickup from restaurants, <br/>nearby grocery and convenience stores, and more.</p></div></div></div><!--</div>--></div>";
        break;
      case 4:
        day = "<div class='container section' style='padding: 5vh 0 5vh 0;'><!--<div class='row full'>--><div class='row' style='margin:0;'><div class='col col-md-7'><a href = 'https://boxetekitchen.tryordering.com/'><img data-ng-src='https://drive.google.com/uc?id=1aL7clzJg89WULn2eGpHdj2re5ujvgIY7' width='100%'></a></div><div class='col col-md-5'><div class='custom-main'><h1 style='font-weight: 800;'>It’s all about Thursday.<br/>All in one app.</h1><p>Discover local, on-demand delivery or Pickup from restaurants, <br/>nearby grocery and convenience stores, and more.</p></div></div></div><!--</div>--></div>";
        break;
      case 5:
        day = "<div class='container section' style='padding: 5vh 0 5vh 0;'><!--<div class='row full'>--><div class='row' style='margin:0;'><div class='col col-md-7'><a href = 'https://boxetekitchen.tryordering.com/'><img data-ng-src='https://drive.google.com/uc?id=1wxdE34kVyQsLAQqehWJGeJl-idNdnAwU' width='100%'></a></div><div class='col col-md-5'><div class='custom-main'><h1 style='font-weight: 800;'>It’s all about Friday.<br/>All in one app.</h1><p>Discover local, on-demand delivery or Pickup from restaurants, <br/>nearby grocery and convenience stores, and more.</p></div></div></div><!--</div>--></div>";
        break;
      case  6:
        day = "<div class='container section' style='padding: 5vh 0 5vh 0;'><!--<div class='row full'>--><div class='row' style='margin:0;'><div class='col col-md-7'><a href = 'https://boxetekitchen.tryordering.com/'><img data-ng-src='https://drive.google.com/uc?id=1VfNul6dikHgLFtkKfHGTRD2ybv9npmud' width='100%'></a></div><div class='col col-md-5'><div class='custom-main'><h1 style='font-weight: 800;'>It’s all about Saturday.<br/>All in one app.</h1><p>Discover local, on-demand delivery or Pickup from restaurants, <br/>nearby grocery and convenience stores, and more.</p></div></div></div><!--</div>--></div>";
    }
    document.getElementById("dailycontents").innerHTML = day;
    </script>
