<div class="container">
  <div class="col-md-3 col-xs-12 col-sm-6">
    <ul>
      <li class="title">{{translate('FOOTER_QL1_TITLE')}}</li>
      <li><a href="{{translate('FOOTER_QL1_1_HREF')}}" target="_self">{{translate('FOOTER_QL1_1')}}</a></li>
      <li><a href="{{translate('FOOTER_QL1_2_HREF')}}" target="_self">{{translate('FOOTER_QL1_2')}}</a></li>
      <li><a href="{{translate('FOOTER_QL1_3_HREF')}}" target="_self">{{translate('FOOTER_QL1_3')}}</a></li>
      <!-- <li><a href="{{translate('FOOTER_QL1_4_HREF')}}" target="_self">{{translate('FOOTER_QL1_4')}}</a></li> -->
      <li><a href="{{translate('FOOTER_QL1_5_HREF')}}" target="_self">{{translate('FOOTER_QL1_5')}}</a></li>
      <li><a href="{{translate('FOOTER_QL1_6_HREF')}}" target="_self">{{translate('FOOTER_QL1_6')}}</a></li>
      <li><a href="{{translate('FOOTER_QL1_7_HREF')}}" target="_self">{{translate('FOOTER_QL1_7')}}</a></li>
    </ul>
  </div>
  <div class="col-md-3 col-xs-12 col-sm-6">
    <ul>
      <li class="title">{{translate('FOOTER_QL2_TITLE')}}</li>
      <li><a href="{{translate('FOOTER_QL2_1_HREF')}}" target="_self">{{translate('FOOTER_QL2_1')}}</a></li>
      <li><a href="{{translate('FOOTER_QL2_2_HREF')}}" target="_self">{{translate('FOOTER_QL2_2')}}</a></li>
      <li><a href="{{translate('FOOTER_QL2_3_HREF')}}" target="_self">{{translate('FOOTER_QL2_3')}}</a></li>
    </ul>
  </div>
  <div class="col-md-3 col-xs-12 col-sm-6">
    <ul>
      <li class="title">{{translate('FOOTER_QL3_TITLE')}}</li>
      <li><a href="{{translate('FOOTER_QL3_1_HREF')}}" target="_self">{{translate('FOOTER_QL3_1')}}</a></li>
      <li><a href="{{translate('FOOTER_QL3_2_HREF')}}" target="_self">{{translate('FOOTER_QL3_2')}}</a></li>
      <!-- <li><a href="{{translate('FOOTER_QL3_3_HREF')}}" target="_self">{{translate('FOOTER_QL3_3')}}</a></li> -->
    </ul>
  </div>
  <div class="col-md-3 col-xs-12 col-sm-6">
    <!-- <ul>
      <li class="title">{{translate('FOOTER_QL4_TITLE')}}</li>
      <li><a href="{{translate('FOOTER_QL4_1_HREF')}}" target="_self">{{translate('FOOTER_QL4_1')}}</a></li>
      <li><a href="{{translate('FOOTER_QL4_2_HREF')}}" target="_self">{{translate('FOOTER_QL4_2')}}</a></li>
      <li><a href="{{translate('FOOTER_QL4_3_HREF')}}" target="_self">{{translate('FOOTER_QL4_3')}}</a></li>
    </ul> -->
  </div>
</div>
<div class="container">
<style>
  .footer-bottom-main{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 32px 0px;
  }
  .footer-bottom-main2{
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  .footer-link{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: filter 0.2s ease 0s;
    margin-left: 16px !important;
    color: #333;
  }
  @media (min-width: 1551px){
   .mobilefooter{
    display: none;
   }
}
@media only screen and (max-width: 1550px) and (min-width: 992px){
   .mobilefooter{
    display: none;
   }
}

@media only screen and (max-width: 992px) and (min-width: 500px){
  .footer-bottom-main{
    display: none;
  }
  }

  @media only screen and (max-width: 500px) and (min-width: 200px){
    .footer-bottom-main{
    display: none;
  }
  }
</style>
  <div class="footer-bottom-main">
    <div class="footer-bottom-main2">
            <a class="" aria-label="Boxete Home Page" href="/">
              <img src="https://boxetekitchen.tryordering.com/templates/web/img/custom/footer_logo.png" width="150px" style=""> 
            </a>
            <a href="https://boxetekitchen.tryordering.com/pages/terms" class="footer-link">
            <span display="block" class="">Terms of Service</span>
            </a>
            <a href="https://boxetekitchen.tryordering.com/pages/privacy" class="footer-link">
            <span display="block" class="">Privacy</span>
            </a>
            <a href="https://boxetekitchen.tryordering.com/pages/deliverylocations" class="footer-link">
            <span display="block" class="">Delivery Locations</span>
            </a>
            <span display="block" class="footer-link">© 2022 Boxete Group, LLC</span>
    </div>
  </div>
  <div class="mobilefooter" style="align-items: center; text-align: center;">
    <div style="margin-bottom: 30px;">
      <a class="" aria-label="Boxete Home Page" href="/">
        <img src="https://boxetekitchen.tryordering.com/templates/web/img/custom/footer_logo.png" width="150px" style=""> 
      </a>
    </div>
    <div>
      <a href="https://boxetekitchen.tryordering.com/pages/terms" class=""><span display="block" class="">Terms of Service • </span></a><a href="https://boxetekitchen.tryordering.com/pages/privacy" class=""><span display="block" class="">Privacy</span></a>
    </div>
    <div style="margin-bottom: 30px;">
      <a href="https://boxetekitchen.tryordering.com/pages/deliverylocations" class=""><span display="block" class="">Delivery Locations</span></a>
    </div>
    <div>
      <span display="block" class="" style="color: #000;">© 2022 Boxete Group, LLC</span>
  </div>
</div>